{% extends 'accounts/base.html' %}

{% block title %}Kora | Signup{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4 w-50 text-center">
        <h1 class="mb-3">Create an account</h1>
        <p>Please, sign up using the following form:</p>
        <form method="post">
            {% csrf_token %}
            <div class="text-left">
                {{ user_form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary btn-lg rounded-0 mt-3">Create my account</button>
        </form>
    </div>
</div>
{% endblock %}
